* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;

  @media only screen and (max-width: 860px) {
    font-size: 12px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 10px;
  }
}

.App {
  @include flex-center;
  background-color: $background-color;
  height: 100vh;
  background: linear-gradient(
    120deg,
    $second-background-color 0% 5%,
    $background-color 5% 10%,
    $third-background-color 10% 90%,
    $background-color 90% 95%,
    $second-background-color 95% 100%
  );
  //linegra
}

// background: linear-gradient(
//     130deg,
//     $second-background-color 0% 5%,
//     $third-background-color 5% 10%,
//     $second-background-color 10% 90%,
//     $third-background-color 90% 95%,
//     $second-background-color 95% 100%
//   );

// background:

// linear-gradient(to top, transparent, #b1b1b1 100%),

// gray repeating-linear-gradient(45deg, transparent, transparent 35px,

// rgba(255, 255, 255, 0.5) 35px, rgba(255, 255, 255, 0.5) 70px);
