@keyframes scaleCardUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes scaleCardDown {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
