$first-color: #ff0000;
$second-color: #ffde00;
$third-color: #b3a125;
$background-color: #536aeb;
$second-background-color: #3b4caa;
$third-background-color: #f5eeeefa;
$font-color: #000000;
$error-font-color: #b82601;
