$first-color: #ff0000;
$second-color: #ffce31;
$third-color: #b3a125;
$background-color: #3b4caa;
$second-background-color: #393298;
$third-background-color: #f5eeeefa;
$font-color: #000000;
$error-font-color: #b82601;

$pokemon-types: (
  "poison": #aa5599,
  "grass": #77cc55,
  "ghost": #66b,
  "rock": #ba6,
  "fighting": #b54,
  "fairy": #e9e,
  "steel": #aaaabb,
  "ice": #66ccff,
  "ground": #ddbb55,
  "psychic": #ff5599,
  "electric": #e4b72d,
  "dark": #775544,
  "normal": #aaaa99,
  "bug": #aabb22,
  "water": #429efa,
  "dragon": #7766ee,
  "flying": #8899ff,
  "fire": #ff4422,
);

$icon-filters: (
  ("poison", 44%, 14%, 1971%, 260deg, 91%, 86%),
  ("grass", 74%, 42%, 632%, 54deg, 95%, 79%),
  ("ghost", 44%, 38%, 904%, 201deg, 86%, 78%),
  ("rock", 76%, 38%, 421%, 11deg, 84%, 85%),
  ("fighting", 40%, 43%, 759%, 321deg, 93%, 92%),
  ("fairy", 86%, 69%, 1719%, 247deg, 95%, 95%),
  ("steel", 81%, 5%, 697%, 201deg, 85%, 88%),
  ("ground", 87%, 54%, 665%, 325deg, 92%, 86%),
  ("psychic", 46%, 52%, 1689%, 307deg, 103%, 101%),
  ("ice", 66%, 85%, 513%, 173deg, 102%, 101%),
  ("electric", 96%, 8%, 5260%, 331deg, 92%, 95%),
  ("dark", 31%, 56%, 338%, 336deg, 95%, 82%),
  ("normal", 82%, 6%, 547%, 22deg, 83%, 85%),
  ("bug", 68%, 71%, 465%, 23deg, 91%, 93%),
  ("water", 51%, 99%, 1701%, 188deg, 101%, 96%),
  ("dragon", 40%, 69%, 790%, 213deg, 96%, 94%),
  ("flying", 67%, 19%, 6403%, 201deg, 100%, 103%),
  ("fire", 38%, 85%, 3793%, 348deg, 101%, 101%)
);
