$first-color: #ff0000;
$second-color: #ffce31;
$third-color: #b3a125;
$background-color: #3b4caa;
$second-background-color: #393298;
$third-background-color: #f5eeeefa;
$font-color: #000000;
$error-font-color: #b82601;
$pokemon-types: (
  "poison": #aa5599,
  "grass": #77cc55,
  "ghost": #66b,
  "rock": #ba6,
  "fighting": #b54,
  "fairy": #e9e,
  "steel": #aaaabb,
  "ice": #66ccff,
  "ground": #ddbb55,
  "psychic": #ff5599,
  "electric": #e4b72d,
  "dark": #775544,
  "normal": #aaaa99,
  "bug": #aabb22,
  "water": #429efa,
  "dragon": #7766ee,
  "flying": #8899ff,
  "fire": #ff4422,
);
