@-webkit-keyframes scaleCardUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scaleCardUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes scaleCardDown {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleCardDown {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error__icon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  color: #3b4caa;
}

.error p {
  color: #3b4caa;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader img {
  width: 5rem;
  height: 5rem;
  -webkit-animation: loader 3s infinite;
          animation: loader 3s infinite;
}

.loader p {
  padding: 0.5rem;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__item {
  margin: 0 0.5rem;
}

.pagination__item.active button {
  background-color: #3b4caa;
  border: 0.25rem solid #ffde00;
  color: #ffde00;
  font-weight: 700;
}

.pagination__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokedex {
  position: relative;
  height: 95vh;
  width: 95%;
}

.pokemon-board {
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.pokemon-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.2rem solid #3b4caa;
  border-radius: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-self: center;
  width: 11rem;
  height: 13rem;
  background-color: #ffde00;
  overflow: hidden;
  -webkit-box-shadow: 0 1.2rem 2.2rem rgba(0, 0, 0, 0.3), 0 0.9rem 0.75rem rgba(0, 0, 0, 0.22);
          box-shadow: 0 1.2rem 2.2rem rgba(0, 0, 0, 0.3), 0 0.9rem 0.75rem rgba(0, 0, 0, 0.22);
  -webkit-animation: scaleCardDown 0.5s forwards;
          animation: scaleCardDown 0.5s forwards;
}

.pokemon-card:hover {
  -webkit-transition: all 5 ease-in-out;
  transition: all 5 ease-in-out;
  -webkit-animation: scaleCardUp 0.5s forwards;
          animation: scaleCardUp 0.5s forwards;
}

.pokemon-card img {
  overflow: hidden;
  background-color: white;
  height: 8rem;
  width: 100%;
  border-bottom: 0.2rem solid #3b4caa;
}

.pokemon-card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  -webkit-box-shadow: inset 0px -32px 16px 0px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0px -32px 16px 0px rgba(0, 0, 0, 0.16);
}

.pokemon-card__details p {
  font-weight: 700;
  margin: 0.5rem 0rem;
}

.pokemon-card__details button {
  width: 8rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
}

button {
  font-size: 1rem;
  padding: 0.5rem;
  outline: 0;
  font-weight: 100;
  border-radius: 1rem;
  color: white;
  border: none;
  background-color: #536aeb;
  border: 0.15rem solid #3b4caa;
}

button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  background-color: #ffde00;
}

ul {
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 860px) {
  * {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 10px;
  }
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #536aeb;
  height: 100vh;
  background: linear-gradient(120deg, #3b4caa 0% 5%, #536aeb 5% 10%, #f5eeeefa 10% 90%, #536aeb 90% 95%, #3b4caa 95% 100%);
}
/*# sourceMappingURL=main.css.map */