@-webkit-keyframes scaleCardUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scaleCardUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes scaleCardDown {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleCardDown {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error__icon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  color: #3b4caa;
}

.error p {
  color: #3b4caa;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin: -1rem 0 0 12rem;
  height: 5rem;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader img {
  width: 5rem;
  height: 5rem;
  -webkit-animation: loader 3s infinite;
          animation: loader 3s infinite;
}

.loader p {
  padding: 0.5rem;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__item {
  margin: 0 0.5rem;
}

.pagination__item.active button {
  background-color: #3b4caa;
  border: 0.25rem solid #ffde00;
  color: #ffde00;
  font-weight: 700;
}

.pagination__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokedex {
  position: relative;
  height: 95vh;
  width: 95%;
}

.pokemon-board {
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.pokemon-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.2rem solid #3b4caa;
  border-radius: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-self: center;
  width: 11rem;
  height: 15rem;
  background-color: #ffde00;
  overflow: hidden;
  -webkit-box-shadow: 0 1.2rem 2.2rem rgba(0, 0, 0, 0.3), 0 0.9rem 0.75rem rgba(0, 0, 0, 0.22);
          box-shadow: 0 1.2rem 2.2rem rgba(0, 0, 0, 0.3), 0 0.9rem 0.75rem rgba(0, 0, 0, 0.22);
  -webkit-animation: scaleCardDown 0.5s forwards;
          animation: scaleCardDown 0.5s forwards;
}

.pokemon-card:hover {
  -webkit-transition: all 5 ease-in-out;
  transition: all 5 ease-in-out;
  -webkit-animation: scaleCardUp 0.5s forwards;
          animation: scaleCardUp 0.5s forwards;
}

.pokemon-card img {
  overflow: hidden;
  background-color: white;
  height: 8rem;
  width: 100%;
  border-bottom: 0.2rem solid #3b4caa;
}

.pokemon-card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  -webkit-box-shadow: inset 0px -32px 16px 0px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0px -32px 16px 0px rgba(0, 0, 0, 0.16);
}

.pokemon-card__details p {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 700;
  margin: 0.5rem 0rem;
}

.pokemon-card__details button {
  width: 8rem;
}

.pokemon-modal {
  position: absolute;
  width: 40%;
  height: 95%;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f5eeeefa;
  border: 0.75rem solid #2b2d42;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
}

.pokemon-modal__details {
  height: 100%;
  width: 100%;
}

.pokemon-modal__details h2 {
  position: relative;
  text-align: center;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 2rem;
}

.pokemon-modal__details h2::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 70%;
  border: 1px solid #2b2d42;
}

.pokemon-modal__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pokemon-modal__main-info__stats {
  width: 100%;
}

.pokemon-modal__main-info__stats.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 33%;
}

.pokemon-modal__main-info__stats p {
  font-size: 1.5rem;
}

.pokemon-modal__main-info__img img {
  height: 10rem;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

/* Base styling */
.search {
  margin-right: 5rem;
}

.search__input {
  width: 20rem;
  padding: 12px 24px;
  background-color: transparent;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.1rem;
  color: #3b4caa;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.1rem 1.1rem;
  background-position: 95% center;
  border-radius: 50px;
  border: 0.1rem solid #3b4caa;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.search__input::-webkit-input-placeholder {
  color: color(#3b4caa a(0.8));
  letter-spacing: 1.5px;
}

.search__input:-ms-input-placeholder {
  color: color(#3b4caa a(0.8));
  letter-spacing: 1.5px;
}

.search__input::-ms-input-placeholder {
  color: color(#3b4caa a(0.8));
  letter-spacing: 1.5px;
}

.search__input::placeholder {
  color: color(#3b4caa a(0.8));
  letter-spacing: 1.5px;
}

.search__input:hover, .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #3b4caa;
  border-radius: 0;
  background-position: 100% center;
}

.pokemon-types {
  background-color: white;
  height: 2rem;
  top: 0rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-types.modal {
  background: transparent;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pokemon-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75rem;
  border-radius: 1rem;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(138, 133, 138, 0.6);
  box-shadow: 0px 2px 2px 0px rgba(138, 133, 138, 0.6);
}

.pokemon-type.grass {
  background-color: #77cc55;
}

.pokemon-type.poison {
  background-color: #aa5599;
}

.pokemon-type.fire {
  background-color: #ff4422;
}

.pokemon-type.flying {
  background-color: #8899ff;
}

.pokemon-type.dragon {
  background-color: #7766ee;
}

.pokemon-type.water {
  background-color: #429efa;
}

.pokemon-type.bug {
  background-color: #aabb22;
}

.pokemon-type.normal {
  background-color: #aaaa99;
}

.pokemon-type.dark {
  background-color: #775544;
}

.pokemon-type.electric {
  background-color: #e4b72d;
}

.pokemon-type.psychic {
  background-color: #ff5599;
}

.pokemon-type.ground {
  background-color: #ddbb55;
}

.pokemon-type.ice {
  background-color: #66ccff;
}

.pokemon-type.steel {
  background-color: #aaaabb;
}

.pokemon-type.fairy {
  background-color: #e9e;
}

.pokemon-type.fighting {
  background-color: #b54;
}

.pokemon-type.rock {
  background-color: #ba6;
}

.pokemon-type.ghost {
  background-color: #66b;
}

button {
  font-size: 1rem;
  padding: 0.5rem;
  outline: 0;
  font-weight: 100;
  border-radius: 1rem;
  color: white;
  border: none;
  background-color: #3b4caa;
  text-shadow: 1px 1px 2px black;
}

button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

ul {
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 860px) {
  * {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 10px;
  }
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #536aeb;
  height: 100vh;
  background: linear-gradient(120deg, #3b4caa 0% 5%, #536aeb 5% 10%, #f5eeeefa 10% 90%, #536aeb 90% 95%, #3b4caa 95% 100%);
}
/*# sourceMappingURL=main.css.map */