@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@-webkit-keyframes scaleCardUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes scaleCardUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes scaleCardDown {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleCardDown {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slide {
  100% {
    -webkit-transform: translateX(-85%);
            transform: translateX(-85%);
  }
}

@keyframes slide {
  100% {
    -webkit-transform: translateX(-85%);
            transform: translateX(-85%);
  }
}

@-webkit-keyframes slide-right {
  100% {
    -webkit-transform: translateX(85%);
            transform: translateX(85%);
  }
}

@keyframes slide-right {
  100% {
    -webkit-transform: translateX(85%);
            transform: translateX(85%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slideInFromBotton {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes slideInFromBotton {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@-webkit-keyframes slideOutToBotton {
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes slideOutToBotton {
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@-webkit-keyframes slideOutToTop {
  100% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@keyframes slideOutToTop {
  100% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes backgroundOut {
  100% {
    opacity: 0;
  }
}

@keyframes backgroundOut {
  100% {
    opacity: 0;
  }
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error__icon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  color: #393298;
}

.error p {
  color: #393298;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin: -1rem 0 0 12rem;
  height: 5rem;
}

@media only screen and (max-width: 500px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    position: fixed;
    top: 2rem;
    right: 2rem;
    margin: -1rem 0 0 0rem;
    height: 1.5rem;
  }
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 15rem;
  top: 5rem;
  left: 0;
  right: 0;
  margin: auto;
}

.information img {
  height: 7.5rem;
}

.information p {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.information :nth-child(3) {
  font-size: 0.75rem;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader img {
  width: 5rem;
  height: 5rem;
  -webkit-animation: loader 3s infinite;
          animation: loader 3s infinite;
}

.loader p {
  padding: 0.5rem;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__item {
  margin: 0 0.5rem;
}

.pagination__item.active button {
  background-color: #393298;
  border: 0.25rem solid #ffce31;
  color: #ffce31;
  font-weight: 700;
}

.pagination__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 500px) {
  .pagination__item {
    margin: 0 0.15rem;
  }
}

.pokedex {
  position: relative;
  height: 95vh;
  width: 95%;
}

@media only screen and (max-width: 500px) {
  .pokedex {
    position: relative;
    height: 100vh;
    width: 95%;
  }
}

.pokemon-modal__attributes {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.pokemon-modal__attributes h3 {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.75rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

.pokemon-modal__attributes::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0rem;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 100%;
  border: 1px solid #2b2d42;
}

.pokemon-board {
  height: 80vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  .pokemon-board {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-board {
    height: 80vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
  }
}

.pokemon-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.2rem solid #393298;
  border-radius: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-self: center;
  width: 11rem;
  height: 15rem;
  background-color: #ffce31;
  overflow: hidden;
  -webkit-box-shadow: 0 1.2rem 2.2rem rgba(0, 0, 0, 0.3), 0 0.9rem 0.75rem rgba(0, 0, 0, 0.22);
          box-shadow: 0 1.2rem 2.2rem rgba(0, 0, 0, 0.3), 0 0.9rem 0.75rem rgba(0, 0, 0, 0.22);
  -webkit-animation: scaleCardDown 0.5s forwards;
          animation: scaleCardDown 0.5s forwards;
}

.pokemon-card:hover {
  -webkit-transition: all 5 ease-in-out;
  transition: all 5 ease-in-out;
  -webkit-animation: scaleCardUp 0.5s forwards;
          animation: scaleCardUp 0.5s forwards;
}

.pokemon-card img {
  overflow: hidden;
  background-color: white;
  height: 8rem;
  width: 100%;
  border-bottom: 0.2rem solid #393298;
  padding: 0.5rem 0.5rem;
}

.pokemon-card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  -webkit-box-shadow: inset 0px -32px 16px 0px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0px -32px 16px 0px rgba(0, 0, 0, 0.16);
}

.pokemon-card__details p {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 700;
  margin: 0.5rem 0rem;
}

.pokemon-card__details button {
  width: 8rem;
}

.pokemon-modal__main-info {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.pokemon-modal__main-info p {
  font-size: 1.5rem;
}

.pokemon-modal__main-info > :first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.pokemon-modal__main-info > :nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.pokemon-modal__main-info > :nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.pokemon-modal__main-info::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0rem;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 100%;
  border: 1px solid #2b2d42;
}

.pokemon-modal__main-info img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  place-self: center;
  height: 10rem;
}

.pokemon-modal__main-info__stats {
  width: 100%;
}

.pokemon-modal__main-info__stats img {
  height: 2rem;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: transparent;
}

.pokemon-modal__main-info__stats img.poison {
  -webkit-filter: invert(44%) sepia(14%) saturate(1971%) hue-rotate(260deg) brightness(91%) contrast(86%);
          filter: invert(44%) sepia(14%) saturate(1971%) hue-rotate(260deg) brightness(91%) contrast(86%);
}

.pokemon-modal__main-info__stats img.grass {
  -webkit-filter: invert(74%) sepia(42%) saturate(632%) hue-rotate(54deg) brightness(95%) contrast(79%);
          filter: invert(74%) sepia(42%) saturate(632%) hue-rotate(54deg) brightness(95%) contrast(79%);
}

.pokemon-modal__main-info__stats img.ghost {
  -webkit-filter: invert(44%) sepia(38%) saturate(904%) hue-rotate(201deg) brightness(86%) contrast(78%);
          filter: invert(44%) sepia(38%) saturate(904%) hue-rotate(201deg) brightness(86%) contrast(78%);
}

.pokemon-modal__main-info__stats img.rock {
  -webkit-filter: invert(76%) sepia(38%) saturate(421%) hue-rotate(11deg) brightness(84%) contrast(85%);
          filter: invert(76%) sepia(38%) saturate(421%) hue-rotate(11deg) brightness(84%) contrast(85%);
}

.pokemon-modal__main-info__stats img.fighting {
  -webkit-filter: invert(40%) sepia(43%) saturate(759%) hue-rotate(321deg) brightness(93%) contrast(92%);
          filter: invert(40%) sepia(43%) saturate(759%) hue-rotate(321deg) brightness(93%) contrast(92%);
}

.pokemon-modal__main-info__stats img.fairy {
  -webkit-filter: invert(86%) sepia(69%) saturate(1719%) hue-rotate(247deg) brightness(95%) contrast(95%);
          filter: invert(86%) sepia(69%) saturate(1719%) hue-rotate(247deg) brightness(95%) contrast(95%);
}

.pokemon-modal__main-info__stats img.steel {
  -webkit-filter: invert(81%) sepia(5%) saturate(697%) hue-rotate(201deg) brightness(85%) contrast(88%);
          filter: invert(81%) sepia(5%) saturate(697%) hue-rotate(201deg) brightness(85%) contrast(88%);
}

.pokemon-modal__main-info__stats img.ground {
  -webkit-filter: invert(87%) sepia(54%) saturate(665%) hue-rotate(325deg) brightness(92%) contrast(86%);
          filter: invert(87%) sepia(54%) saturate(665%) hue-rotate(325deg) brightness(92%) contrast(86%);
}

.pokemon-modal__main-info__stats img.psychic {
  -webkit-filter: invert(46%) sepia(52%) saturate(1689%) hue-rotate(307deg) brightness(103%) contrast(101%);
          filter: invert(46%) sepia(52%) saturate(1689%) hue-rotate(307deg) brightness(103%) contrast(101%);
}

.pokemon-modal__main-info__stats img.ice {
  -webkit-filter: invert(66%) sepia(85%) saturate(513%) hue-rotate(173deg) brightness(102%) contrast(101%);
          filter: invert(66%) sepia(85%) saturate(513%) hue-rotate(173deg) brightness(102%) contrast(101%);
}

.pokemon-modal__main-info__stats img.electric {
  -webkit-filter: invert(96%) sepia(8%) saturate(5260%) hue-rotate(331deg) brightness(92%) contrast(95%);
          filter: invert(96%) sepia(8%) saturate(5260%) hue-rotate(331deg) brightness(92%) contrast(95%);
}

.pokemon-modal__main-info__stats img.dark {
  -webkit-filter: invert(31%) sepia(56%) saturate(338%) hue-rotate(336deg) brightness(95%) contrast(82%);
          filter: invert(31%) sepia(56%) saturate(338%) hue-rotate(336deg) brightness(95%) contrast(82%);
}

.pokemon-modal__main-info__stats img.normal {
  -webkit-filter: invert(82%) sepia(6%) saturate(547%) hue-rotate(22deg) brightness(83%) contrast(85%);
          filter: invert(82%) sepia(6%) saturate(547%) hue-rotate(22deg) brightness(83%) contrast(85%);
}

.pokemon-modal__main-info__stats img.bug {
  -webkit-filter: invert(68%) sepia(71%) saturate(465%) hue-rotate(23deg) brightness(91%) contrast(93%);
          filter: invert(68%) sepia(71%) saturate(465%) hue-rotate(23deg) brightness(91%) contrast(93%);
}

.pokemon-modal__main-info__stats img.water {
  -webkit-filter: invert(51%) sepia(99%) saturate(1701%) hue-rotate(188deg) brightness(101%) contrast(96%);
          filter: invert(51%) sepia(99%) saturate(1701%) hue-rotate(188deg) brightness(101%) contrast(96%);
}

.pokemon-modal__main-info__stats img.dragon {
  -webkit-filter: invert(40%) sepia(69%) saturate(790%) hue-rotate(213deg) brightness(96%) contrast(94%);
          filter: invert(40%) sepia(69%) saturate(790%) hue-rotate(213deg) brightness(96%) contrast(94%);
}

.pokemon-modal__main-info__stats img.flying {
  -webkit-filter: invert(67%) sepia(19%) saturate(6403%) hue-rotate(201deg) brightness(100%) contrast(103%);
          filter: invert(67%) sepia(19%) saturate(6403%) hue-rotate(201deg) brightness(100%) contrast(103%);
}

.pokemon-modal__main-info__stats img.fire {
  -webkit-filter: invert(38%) sepia(85%) saturate(3793%) hue-rotate(348deg) brightness(101%) contrast(101%);
          filter: invert(38%) sepia(85%) saturate(3793%) hue-rotate(348deg) brightness(101%) contrast(101%);
}

.pokemon-modal {
  position: absolute;
  width: 45%;
  height: auto;
  max-height: 95%;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f5eeeefa;
  border: 0.75rem solid #393298;
  border-radius: 2rem;
  padding: 1rem;
  outline: none;
}

.pokemon-modal__details {
  height: 100%;
  width: 100%;
}

.pokemon-modal__details h2 {
  position: relative;
  text-align: center;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 1rem;
}

.pokemon-modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-modal__close button {
  width: 10rem;
}

.pokemon-modal.poison {
  border-color: #aa5599;
}

.pokemon-modal.poison button {
  background-color: #aa5599;
}

.pokemon-modal.poison ::after {
  border-color: #aa5599;
}

.pokemon-modal.grass {
  border-color: #77cc55;
}

.pokemon-modal.grass button {
  background-color: #77cc55;
}

.pokemon-modal.grass ::after {
  border-color: #77cc55;
}

.pokemon-modal.ghost {
  border-color: #66b;
}

.pokemon-modal.ghost button {
  background-color: #66b;
}

.pokemon-modal.ghost ::after {
  border-color: #66b;
}

.pokemon-modal.rock {
  border-color: #ba6;
}

.pokemon-modal.rock button {
  background-color: #ba6;
}

.pokemon-modal.rock ::after {
  border-color: #ba6;
}

.pokemon-modal.fighting {
  border-color: #b54;
}

.pokemon-modal.fighting button {
  background-color: #b54;
}

.pokemon-modal.fighting ::after {
  border-color: #b54;
}

.pokemon-modal.fairy {
  border-color: #e9e;
}

.pokemon-modal.fairy button {
  background-color: #e9e;
}

.pokemon-modal.fairy ::after {
  border-color: #e9e;
}

.pokemon-modal.steel {
  border-color: #aaaabb;
}

.pokemon-modal.steel button {
  background-color: #aaaabb;
}

.pokemon-modal.steel ::after {
  border-color: #aaaabb;
}

.pokemon-modal.ice {
  border-color: #66ccff;
}

.pokemon-modal.ice button {
  background-color: #66ccff;
}

.pokemon-modal.ice ::after {
  border-color: #66ccff;
}

.pokemon-modal.ground {
  border-color: #ddbb55;
}

.pokemon-modal.ground button {
  background-color: #ddbb55;
}

.pokemon-modal.ground ::after {
  border-color: #ddbb55;
}

.pokemon-modal.psychic {
  border-color: #ff5599;
}

.pokemon-modal.psychic button {
  background-color: #ff5599;
}

.pokemon-modal.psychic ::after {
  border-color: #ff5599;
}

.pokemon-modal.electric {
  border-color: #e4b72d;
}

.pokemon-modal.electric button {
  background-color: #e4b72d;
}

.pokemon-modal.electric ::after {
  border-color: #e4b72d;
}

.pokemon-modal.dark {
  border-color: #775544;
}

.pokemon-modal.dark button {
  background-color: #775544;
}

.pokemon-modal.dark ::after {
  border-color: #775544;
}

.pokemon-modal.normal {
  border-color: #aaaa99;
}

.pokemon-modal.normal button {
  background-color: #aaaa99;
}

.pokemon-modal.normal ::after {
  border-color: #aaaa99;
}

.pokemon-modal.bug {
  border-color: #aabb22;
}

.pokemon-modal.bug button {
  background-color: #aabb22;
}

.pokemon-modal.bug ::after {
  border-color: #aabb22;
}

.pokemon-modal.water {
  border-color: #429efa;
}

.pokemon-modal.water button {
  background-color: #429efa;
}

.pokemon-modal.water ::after {
  border-color: #429efa;
}

.pokemon-modal.dragon {
  border-color: #7766ee;
}

.pokemon-modal.dragon button {
  background-color: #7766ee;
}

.pokemon-modal.dragon ::after {
  border-color: #7766ee;
}

.pokemon-modal.flying {
  border-color: #8899ff;
}

.pokemon-modal.flying button {
  background-color: #8899ff;
}

.pokemon-modal.flying ::after {
  border-color: #8899ff;
}

.pokemon-modal.fire {
  border-color: #ff4422;
}

.pokemon-modal.fire button {
  background-color: #ff4422;
}

.pokemon-modal.fire ::after {
  border-color: #ff4422;
}

.grid__right {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  height: 33%;
  -ms-grid-columns: 1fr 2rem;
      grid-template-columns: 1fr 2rem;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.grid__right p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.grid__left {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  height: 33%;
  -ms-grid-columns: 2rem 1fr;
      grid-template-columns: 2rem 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.grid__left img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.grid__left p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 500px) {
  .pokemon-modal {
    width: 95%;
    padding: 0.5rem;
  }
  .pokemon-modal__details h2 {
    margin-bottom: 0.5rem;
  }
  .pokemon-modal__main-info {
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5rem;
}

.search__input {
  height: 3rem;
  width: 15rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.1rem;
  color: #393298;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.1rem 1.1rem;
  background-position: 95% center;
  border-radius: 50px;
  border: 0.1rem solid #393298;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.search__input::-webkit-input-placeholder {
  color: #393298;
}

.search__input:-ms-input-placeholder {
  color: #393298;
}

.search__input::-ms-input-placeholder {
  color: #393298;
}

.search__input::placeholder {
  color: #393298;
}

.search__input:hover, .search__input:focus {
  padding: 0.5rem 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #393298;
  border-radius: 0;
  background-position: 100% center;
}

@media only screen and (max-width: 500px) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem 0rem 0.5rem 0rem;
  }
  .search__input {
    width: 15rem;
    padding: 12px 1.75rem;
    font-weight: 700;
    line-height: 1rem;
  }
}

.select-list {
  margin-right: 2rem;
}

@media only screen and (max-width: 500px) {
  .select-list {
    margin-bottom: 1rem;
    margin-right: 0rem;
  }
}

.pokemon-types {
  background-color: white;
  height: 2rem;
  top: 0rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-types.type {
  background: transparent;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pokemon-types.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  background: transparent;
  padding: 1rem;
}

.pokemon-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75rem;
  border-radius: 1rem;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(138, 133, 138, 0.6);
  box-shadow: 0px 2px 2px 0px rgba(138, 133, 138, 0.6);
}

.pokemon-type.details {
  width: 60%;
  margin: 0.25rem 0rem;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.pokemon-type.poison {
  background-color: #aa5599;
}

.pokemon-type.grass {
  background-color: #77cc55;
}

.pokemon-type.ghost {
  background-color: #66b;
}

.pokemon-type.rock {
  background-color: #ba6;
}

.pokemon-type.fighting {
  background-color: #b54;
}

.pokemon-type.fairy {
  background-color: #e9e;
}

.pokemon-type.steel {
  background-color: #aaaabb;
}

.pokemon-type.ice {
  background-color: #66ccff;
}

.pokemon-type.ground {
  background-color: #ddbb55;
}

.pokemon-type.psychic {
  background-color: #ff5599;
}

.pokemon-type.electric {
  background-color: #e4b72d;
}

.pokemon-type.dark {
  background-color: #775544;
}

.pokemon-type.normal {
  background-color: #aaaa99;
}

.pokemon-type.bug {
  background-color: #aabb22;
}

.pokemon-type.water {
  background-color: #429efa;
}

.pokemon-type.dragon {
  background-color: #7766ee;
}

.pokemon-type.flying {
  background-color: #8899ff;
}

.pokemon-type.fire {
  background-color: #ff4422;
}

@media only screen and (max-width: 500px) {
  .pokemon-types.type :first-child {
    position: absolute;
    height: 1.5rem;
    width: 4.5rem;
    height: auto;
  }
  .pokemon-types.type :nth-child(2) {
    position: absolute;
    width: 4.5rem;
    height: 1.5rem;
    top: 0.5rem;
  }
  .pokemon-type.details {
    width: 60%;
    margin: 0.5rem 0rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.welcome {
  z-index: 1;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f5eeeefa;
}

.welcome p {
  color: #ffce31;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.95);
  font-family: "Pokemon";
  letter-spacing: 0.25rem;
  font-size: 4rem;
}

.welcome__header--down {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
  -webkit-animation: slideInFromBotton 3s;
          animation: slideInFromBotton 3s;
}

.welcome__header--down.out {
  -webkit-animation: fadeOut 2s;
          animation: fadeOut 2s;
  -webkit-animation: slideOutToBotton 2s;
          animation: slideOutToBotton 2s;
}

.welcome__header--up {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
  -webkit-animation: slideInFromTop 3s;
          animation: slideInFromTop 3s;
}

.welcome__header--up.out {
  -webkit-animation: fadeOut 2s;
          animation: fadeOut 2s;
  -webkit-animation: slideOutToTop 2s;
          animation: slideOutToTop 2s;
}

.welcome__img {
  -webkit-animation: scale 3s;
          animation: scale 3s;
  height: 15rem;
}

.welcome__img.out {
  -webkit-animation: scaleOut 2s;
          animation: scaleOut 2s;
}

.welcome.out {
  -webkit-animation: backgroundOut 2s;
          animation: backgroundOut 2s;
}

.curtain {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
}

.curtain__left {
  -webkit-animation: slide 2s;
          animation: slide 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: #393298;
}

.curtain__right {
  -webkit-animation: slide-right 2s;
          animation: slide-right 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: #393298;
}

button {
  font-size: 1rem;
  padding: 0.5rem;
  outline: 0;
  font-weight: 100;
  border-radius: 1rem;
  color: white;
  border: none;
  background-color: #393298;
  text-shadow: 1px 1px 2px black;
}

button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

ul {
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 992px) {
  * {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 11px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 10px;
  }
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5eeeefa;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .App {
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */