.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    margin: -1rem 0 0 12rem;
    height: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    @include flex-center-column;
    &__logo {
      position: fixed;
      top: 2rem;
      right: 2rem;
      margin: -1rem 0 0 0rem;
      height: 1.5rem;
    }
  }
}
