.pagination {
  @include flex-center;

  &__item {
    margin: 0 0.5rem;

    &.active {
      button {
        background-color: $second-background-color;
        border: 0.25rem solid $second-color;
        color: $second-color;
        font-weight: 700;
      }
    }
  }

  &__wrapper {
    @include flex-center;
  }
}

@media only screen and (max-width: 500px) {
  .pagination {
    &__item {
      margin: 0 0.15rem;
    }
  }
}
