.pokemon-modal {
  position: absolute;
  width: 45%;
  height: auto;
  max-height: 95%;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: $third-background-color;
  border: 0.75rem solid $second-background-color;
  border-radius: 2rem;
  padding: 1rem;
  outline: none;

  &__details {
    height: 100%;
    width: 100%;

    h2 {
      position: relative;
      text-align: center;
      font-size: 3rem;
      color: white;
      text-shadow: 1px 1px 2px black;
      margin-bottom: 1rem;
    }
  }

  &__main-info {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &::after {
      @include line-separator;
    }

    &__stats {
      width: 100%;

      img {
        height: 2rem;
        justify-self: end;
        align-self: center;
        background: transparent;
      }

      p {
        font-size: 1.5rem;
      }
    }
    &__img {
      img {
        height: 10rem;
        margin: 0 2rem;
      }
    }
  }

  &__strengths-weaknesses {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    h3 {
      width: 100%;
      margin-top: 2rem;
      font-size: 1.75rem;
      color: white;
      text-shadow: 1px 1px 2px black;
      text-align: center;
    }
    &::after {
      @include line-separator;
    }
  }

  &__close {
    @include flex-center;
    button {
      width: 10rem;
    }
  }
}

.grid {
  &__right {
    display: grid;
    column-gap: 1rem;
    height: 33%;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: 1fr;
    p {
      align-self: center;
      justify-self: end;
    }
  }
  &__left {
    display: grid;
    column-gap: 1rem;
    height: 33%;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: 1fr;
    p {
      align-self: center;
    }
  }
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}
