.pokemon-board {
  height: 80vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  .pokemon-board {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 560px) {
  .pokemon-board {
    height: 80vh;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
  }
}
