.pokemon-modal {
  &__main-info {
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    p {
      font-size: 1.5rem;
    }

    & > :first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    & > :nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    & > :nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    &::after {
      @include line-separator;
    }

    img {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      place-self: center;
      height: 10rem;
    }

    &__stats {
      width: 100%;

      img {
        height: 2rem;
        justify-self: end;
        align-self: center;
        background: transparent;

        @each $name, $invert, $sepia, $saturate, $hue, $brightness,
          $contrast in $icon-filters
        {
          &.#{$name} {
            filter: invert($invert)
              sepia($sepia)
              saturate($saturate)
              hue-rotate($hue)
              brightness($brightness)
              contrast($contrast);
          }
        }
      }
    }
  }
}
