.pokemon-modal {
  position: absolute;
  width: 45%;
  height: auto;
  max-height: 95%;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: $third-background-color;
  border: 0.75rem solid $second-background-color;
  border-radius: 2rem;
  padding: 1rem;
  outline: none;

  &__details {
    height: 100%;
    width: 100%;

    h2 {
      position: relative;
      text-align: center;
      font-size: 3rem;
      color: white;
      text-shadow: 1px 1px 2px black;
      margin-bottom: 1rem;
    }
  }

  &__close {
    @include flex-center;
    button {
      width: 10rem;
    }
  }

  @each $name, $color in $pokemon-types {
    &.#{$name} {
      border-color: $color;
      button {
        background-color: $color;
      }
      ::after {
        border-color: $color;
      }
    }
  }
}

.grid {
  &__right {
    display: grid;
    column-gap: 1rem;
    height: 33%;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: 1fr;
    p {
      align-self: center;
      justify-self: end;
    }
  }
  &__left {
    display: grid;
    column-gap: 1rem;
    height: 33%;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: 1fr;
    img {
      grid-column: 1 / 2;
    }
    p {
      grid-column: 2 / 3;
      grid-row: 1;
      align-self: center;
    }
  }
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 500px) {
  .pokemon-modal {
    width: 95%;
    padding: 0.5rem;

    &__details {
      h2 {
        margin-bottom: 0.5rem;
      }
    }
    &__main-info {
      padding-top: 2.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .pokemon-modal {
    width: 75%;
    padding: 0.5rem;
  }
}
