.pokemon-types {
  background-color: white;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;

  &.type {
    background: transparent;
    justify-content: flex-end;
    align-self: center;
    padding-bottom: 0.2rem;
  }

  &.details {
    @include flex-center-column;
    height: auto;
    background: transparent;
    padding: 1rem;
  }
}

.pokemon-type {
  @include flex-center;
  font-size: 0.75rem;
  border-radius: 1rem;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(138, 133, 138, 0.6);
  -moz-box-shadow: 0px 2px 2px 0px rgba(138, 133, 138, 0.6);
  box-shadow: 0px 2px 2px 0px rgba(138, 133, 138, 0.6);

  &.details {
    width: 60%;
    margin: 0.25rem 0rem;
    font-size: 1.25rem;
    padding: 0.5rem;
  }

  @each $name, $color in $pokemon-types {
    &.#{$name} {
      background-color: $color;
    }
  }
}

@media only screen and (max-width: 500px) {
  .pokemon-types {
    &.type {
      :first-child {
        position: absolute;
        height: 1.5rem;
        width: 4.5rem;
        padding: 0rem;
      }
      :nth-child(2) {
        position: absolute;
        height: 1.5rem;
        width: 4.5rem;
        top: 0.5rem;
      }
    }
  }
  .pokemon-type {
    &.details {
      width: 60%;
      margin: 0.5rem 0rem;
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
}
